@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0; /* Updated to position on the right side */
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: none; /* Remove transition effect */
}

/* ... (other styles remain unchanged) */



.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}


.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 5%; /* Adjust this value to position the circle */
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #b3ff00 0%,  #b3ff00 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}


@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);

  }

 

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
}