<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Silent Math Genius</title>
  <link href="../assets/img/logo.png" rel="icon">
  <link href="../assets/css/main.css" rel="stylesheet">



  
</head>

<body>
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <h1 data-aos="fade-up">SILENT MATH GENIUS</h1>
        <br>
        <h2>Matematik dengan mudah!</h2>
        <a href="/login_page" class="learn-math-button">Jom Belajar!</a>
      </div>
    </div>
  </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

    <div class="container" data-aos="fade-up">
      <h1 data-aos="fade-up">BAHAN PEMBELAJARAN</h1>

      <div class="details">
        <div class="container" data-aos="fade-up" data-aos-delay="300">
          
          <div class="row">
            <div class="col-md-6">
              <h4>Nota</h4>
              <p>Pilihan pembelajaran bermula dari nota biasa, nota minda, video, dan gerbang kata</p>
            </div>
            <div class="col-md-6">
              <img src="../assets/img/main-nota.png" alt="Image" class="img-fluid a">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">`
              <h4>Latihan dan Permainan</h4>
              <p>Latihan dan Permainan disediakan untuk membolehkan proses pembelajaran lebih menarik </p>
            </div>
            <div class="col-md-6">
              <img src="../assets/img/main-latihan.png" alt="Image" class="img-fluid a">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">`
              <h4>Kuiz</h4>
              <p>Kuiz dengan pilihan dalam masa yang ditetapkan</p>
            </div>
            <div class="col-md-6">
              <img src="../assets/img/main-quiz.png" alt="Image" class="img-fluid a">
            </div>
          </div>
        </div>
      </div>
      <!--End Bahan Pembelajaran-->
      <!--Start Next-->
      <h1 data-aos="fade-up" style="margin-top:30px;">DALAM PROSES PEMBINAAN</h1>

      <div class="details">
        <div class="container" data-aos="fade-up" data-aos-delay="300">
          
          <div class="row"> 
          
            <div class="col-md-6">
              <h4>Interaksi antara Guru dan Pelajar</h4>
              <p></p>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <img src="../assets/img/image7.png" alt="Image" class="img-fluid b" style="width:600px">
            </div>
           
          </div>

          
        </div>
      </div><!--EndNext-->
  </div>

    </section><!-- End Features Section -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">


  <div class="footer-legal">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Team HedgeHog</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by Team Hedgehog</a>
      </div>
    </div>
  </div>
</footer><!-- End Footer --><!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
  class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>