<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SMG Tambah Nota</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/logo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap">


  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="../templates/1lecIndex.html">Silent Math Genius</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="../templates/1lecIndex.html">Laman Utama</a></li>
          <li class="active"><a href="../templates/2lecpilihTopik.html">Bahan Pembelajaran</a></li>
          <li><a href="../templates/3ChatBox.html">Chatbox</a></li>
          <li><a href="../templates/4Profile.html">Profil</a></li>
          <li><a href="../templates/5AboutUs.html">Mengenai Kita</a></li>
          <li><a href="../templates/000main.html">Log Keluar</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="../templates/2lecPilihTopik.html"><i class="bi bi-arrow-left"></i></a></li>
          </ol>
          <ol>
            <li><a href="../templates/1lecIndex.html">Laman Utama</a></li>
            <li><a href="../templates/2lecPilihTopik.html">Tambah Nota</a></li>
            <li>Nota Sedia Ada</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">

        <!-- ======= Activity Section ======= -->
        <section id="activity" class="portfolio">
          <div class="section-title" data-aos="fade-up">
            <h1>Bahan Pembelajaran</h1>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="400">
            <a href="{{url_for('note_form')}}">
              <div class="activityBox viewNota">
                <h5> <i class="bi-eye" style="padding: 10px;"></i>Tambah Nota</h5>
              </div>
            </a>
          </div>

          <div class="row"data-aos="fade-up" data-aos-delay="800" style="padding: 10px;">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Action</th>
                  <th scope="col">Topik</th>
                  <th scope="col">Jenis</th>
                  <th scope="col">Nama</th>
                  <th scope="col">Tambahan</th>
                </tr>
              </thead>
              <tbody>
                {% for row in note %}
                  <tr>
                    <td>
                      <a href="#"><button class="btn btn-danger">Delete</button></a>
                      <a href="#"><button class="btn btn-warning">Modify</button></a>
                    </td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td><a href="{{ url_for('download', filename=row[3]) }}" class="btn btn-primary" download>Download</a> </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

        </section><!-- End Activity Section -->
      </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>
</html>