<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vesperr Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/logo-nobg.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap">

    

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{{url_for('lecpage')}}">Silent Math Genius</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
            <li><a href="{{url_for('lecpage')}}">Laman Utama</a></li>
            <li class="active"><a href="{{url_for('materials')}}">Bahan Pembelajaran</a></li>
            <li><a href="{{url_for('chatbox')}}">Chatbox</a></li>
            <li><a href="{{url_for('profile')}}">Profil</a></li>
            <li><a href="{{url_for('about_us')}}">Mengenai Kita</a></li>
            <li><a href="{{url_for('logout')}}">Log Keluar</a></li>
          </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{{url_for('lecpage')}}"><i class="bi bi-arrow-left"></i></a></li>
          </ol>
          <ol>
            <li><a href="{{url_for('lecpage')}}">Laman Utama</a></li>
            <li>Pemilihan Topik</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">

        <!-- ======= Activity Section ======= -->
        <section id="activity" class="portfolio">

          <div class="section-title" data-aos="fade-up">
            <h1>Bahan Pembelajaran</h1>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-4">
              <a href="{{url_for('upload_note')}}">
                <div class="activityBox viewNota">
                  <h5> <i class="bi-eye" style="padding: 10px;"></i>Muatnaik Nota</h5>
                </div>
              </a>
            </div>
            <div class="col-4">
              <a href="{{url_for('upload_exercise')}}">
                <div class="activityBox viewLatihan">
                  <h5> <i class="bi-eye" style="padding: 10px;"></i>Muatnaik Latihan</h5>
                </div>
              </a>
            </div>
            <div class="col-4">
              <a href="{{url_for('upload_kuiz')}}">
                <div class="activityBox viewKuiz">
                  <h5> <i class="bi-eye" style="padding: 10px;"></i>Muatnaik Kuiz</h5>
                </div>
              </a>
            </div>
          </div>

        </section><!-- End Activity Section -->
<hr>
        <section id="portfolio" class="portfolio">
          

          <div class="row filter-options" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".mini">Topik Mini</li>
                <li data-filter=".t3">Tingkatan 3</li>
                <li data-filter=".t4">Tingkatan 4</li>
              </ul>
            </div>

            <div class="col-lg-12 d-flex justify-content-center">
              <div class="search-container text-center" >
                <form method="post" role="form" class="php-email-form mx-auto">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-8" style="margin-bottom: 5px;">
                        <input type="text" name="name" class="form-control" style="height :40px" id="text" placeholder="Pencarian" required>
                      </div>
                      <div class="col-4" >
                        <button type="submit" class="btn btn-search w-100 d-block"><i class="bi bi-search"></i> Cari</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
        </div>


          </div>

          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
            <div class="col-lg-4 col-md-6 portfolio-item mini">
              <div class="portfolio-wrap">
                <a href="{{url_for('perpuluhan')}}">
                  <img src="../assets/img/moreservice1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Perpuluhan</h4>
                    <p>Topik Mini</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item t3">
              <a href="{{url_for('tingkatan3')}}">
                <div class="portfolio-wrap">
                  <img src="../assets/img/moreservice2.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Matematik Pengguna I</h4>
                    <p>Tingkatan 3</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item t4">
              <div class="portfolio-wrap">
                <a href="{{url_for('tingkatan4')}}">
                  <img src="../assets/img/moreservice3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Matematik Pengguna II</h4>
                    <p>Tingkatan 4</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="background-container"></div>
        </section><!-- End Portfolio Section -->
        
      </div>
      </div>
    </section>

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>