<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SMG Tambah Latihan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/logo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1><a href="{{url_for('lecpage')}}">Silent Math Genius</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_for('lecpage')}}">Laman Utama</a></li>
          <li class="active"><a href="{{url_for('materials')}}">Bahan Pembelajaran</a></li>
          <li><a href="{{url_for('lecchatbox')}}">Chatbox</a></li>
          <li><a href="{{url_for('profile')}}">Profil</a></li>
          <li><a href="{{url_for('about_us')}}">Mengenai Kita</a></li>
          <li><a href="{{url_for('logout')}}">Log Keluar</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{{url_for('upload_exercise')}}"><i class="bi bi-arrow-left"></i></a></li>
          </ol>
          <ol>
            <li><a href="{{url_for('lecpage')}}">Laman Utama</a></li>
            <li><a href="{{url_for('materials')}}">Categori</a></li>
            <li><a href="{{url_for('upload_exercise')}}">Latihan Sedia Ada</a></li>
            <li>Laman Tambah Latihan</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">

          <div class="section-title" data-aos="fade-up">
            {% if action == 'modify latihan' or action == 'modify permainan'%}

              <h1>Kemas Kini Latihan</h1>
            {% else %}
              <h1>Tambah Latihan</h1>
            {% endif %}
          </div>
          <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">
            <div class="row">
              <div class="col-lg-12 d-flex align-items-stretch">
                <div class="card w-100">
                  <div class="card-body p-4">
                    <form action="{% if action == 'modify latihan' %}{{ url_for('modify_materials', name=nota[2]) }}{% elif action == 'modify permainan' %}{{ url_for('update_permainan', name=nota[1]) }}{% else %}{{ url_for('upload_materials') }}{% endif %}" method="POST" enctype="multipart/form-data">
                      <input type="hidden" name="type" value="latihan">
                      <div class="mb-3 row">
                        <div class="col-6">
                          <label for="revenuetype" class="form-label">Topik</label>
                          <select id="revenuetype" class="form-select" name="topic" required oninvalid="this.setCustomValidity('Sila pilih satu topik.')" oninput="this.setCustomValidity('')">
                              <option value="" disabled selected>Sila Pilih</option>
                              <option {% if nota[0] == 'Perpuluhan' %}selected{% endif %}>Perpuluhan</option>
                              <option {% if nota[0] == 'Tingkatan 3: Matematik Pengguna I' %}selected{% endif %}>Tingkatan 3: Matematik Pengguna I</option>
                              <option {% if nota[0] == 'Tingkatan 4: Matematik Pengguna II' %}selected{% endif %}>Tingkatan 4: Matematik Pengguna II</option>
                          </select>
                        </div>

                        <div class="col-6">
                          <label for="revenuetype" class="form-label">Jenis</label>
                          <select id="category" class="form-select" name="category" type="text" required>
                            <option {% if category == 'Latihan' %}selected{% endif %}>Latihan</option>
                            <option {% if category == 'Permainan' %}selected{% endif %}>Permainan</option>
                          </select>
                        </div>
                      </div>

                      <div class="mb-3 latihan-fields">
                        <label for="type" class="form-label">Nama</label>
                        <input type="text" class="form-control" name="filename" id="type" value="{{ nota[2] if nota[2] is not none else '' }}" required oninvalid="this.setCustomValidity('Sila masukkan nama latihan.')" oninput="this.setCustomValidity('')">
                      </div>

                      <div class="mb-3 latihan-fields">
                        <label for="avatar">Description</label>
                        <input type="text" class="form-control" name="description" id="type" value="{{ nota[3] if nota[3] is not none else '' }}" required oninvalid="this.setCustomValidity('Sila masukkan description latihan.')" oninput="this.setCustomValidity('')">
                        <input type="file" id="avatar" name="file" style="margin-top: 10px;" onchange="validateFile()" required oninvalid="this.setCustomValidity('Sila masukkan file latihan.')" oninput="this.setCustomValidity('')">
                        <p id="file-error" style="color: red;"></p>
                      </div>

                      <div class="mb-3 permainan-fields" style="display: none;">
                        <label for="perkataan" class="form-label">Perkataan</label>
                        <input type="text" class="form-control" name="perkataan" id="perkataan" value="{{ nota[2] if nota[2] is not none else '' }}" required oninvalid="this.setCustomValidity('Sila masukkan perkataan untuk soalan.')" oninput="this.setCustomValidity('')">

                      </div>
                      <div class="mb-3 permainan-fields" style="display: none;">
                        <label for="soalan" class="form-label">Soalan</label>
                        <input type="text" class="form-control" name="soalan" id="soalan" value="{{ nota[1] if nota[1] is not none else '' }}" required oninvalid="this.setCustomValidity('Sila masukkan soalan.')" oninput="this.setCustomValidity('')">
                      </div>

                      <div class="mb-3 permainan-fields" style="display: none;">
                        <label for="hint" class="form-label">Hint</label>
                        <input type="text" class="form-control" name="hint" id="hint" value="{{ nota[3] if nota[3] is not none else '' }}" required oninvalid="this.setCustomValidity('Sila masukkan hint untuk soalan.')" oninput="this.setCustomValidity('')">
                      </div>

                      <div class="d-flex justify-content-center">
                        <a>
                          <button type="submit" class="btn btn-primary" id="submitInventoryButton"
                            style="width: 300px; margin: 10px;">Simpan</button>
                        </a>
                        <a>
                          <button type="button" class="btn btn-outline-primary" id="cancelInventoryButton"
                            style="width: 300px; margin: 10px;">Batal</button>
                        </a>
                      </div>
                    </form>

                    <script>
                      const jenisDropdown = document.querySelector('select[name="category"]');
                      const latihanFields = document.querySelectorAll('.latihan-fields');
                      const permainanFields = document.querySelectorAll('.permainan-fields');
                      const namaField = document.querySelector('input[name="filename"]');
                      const descriptionField = document.querySelector('input[name="description"]');
                      const perkataanField = document.querySelector('input[name="perkataan"]');
                      const soalanField = document.querySelector('input[name="soalan"]');
                      const hintField = document.querySelector('input[name="hint"]');
                      const fileField = document.querySelector('input[name="file"]')

                      // Function to toggle field visibility based on category value
                      function toggleFieldVisibility(selectedValue) {
                          if (selectedValue === 'Latihan') {
                              latihanFields.forEach((field) => {
                                  field.style.display = 'block';
                              });
                              permainanFields.forEach((field) => {
                                  field.style.display = 'none';
                              });
                          } else if (selectedValue === 'Permainan') {
                              latihanFields.forEach((field) => {
                                  field.style.display = 'none';
                              });
                              permainanFields.forEach((field) => {
                                  field.style.display = 'block';
                              });
                          }

                          // Toggle visibility of Nama and Description fields
                          if (selectedValue === 'Permainan') {
                              namaField.style.display = 'none';
                              descriptionField.style.display = 'none';
                              perkataanField.required = true;
                              soalanField.required = true;
                              hintField.required = true;
                              namaField.required= false;
                              descriptionField.required = false;
                              fileField.required=false;
                          } else {
                              namaField.style.display = 'block';
                              descriptionField.style.display = 'block';
                              perkataanField.required = false; // Set to false if not required
                              soalanField.required = false; // Set to false if not required
                              hintField.required = false; // Set to false if not required
                              namaField.required= true;
                              descriptionField.required = true;
                              fileField.required=true;
                          }
                      }

                      // Add an event listener to the category dropdown for initial page load
                      toggleFieldVisibility(jenisDropdown.value);

                      // Add an event listener for the change event of the category dropdown
                      jenisDropdown.addEventListener('change', function () {
                          const selectedValue = jenisDropdown.value;
                          toggleFieldVisibility(selectedValue);
                      });
                  </script>
                    <script>
                      function validateFile() {
                        const category = document.getElementById('category').value;
                        const fileInput = document.getElementById('avatar');
                        const file = fileInput.files[0];
                        const allowedFormats = {
                          'Latihan': ['application/pdf'],
                        };

                        if (category in allowedFormats) {
                          const validFormats = allowedFormats[category];
                          if (!validFormats.includes(file.type)) {
                            document.getElementById('file-error').textContent = `File format untuk ${category} mesti dalam format: ${validFormats.join(' or ')}`;
                            fileInput.value = ''; // Clear the file input
                          } else {
                            document.getElementById('file-error').textContent = '';
                          }
                        }
                      }
                      </script>
                    <script>
                    function validateForm() {
                      const selectedTopic = document.getElementById('revenuetype').value;

                      if (selectedTopic === "Sila Pilih" ) {
                        alert("Sila pilih 'Topik' dan 'Jenis' yang betul.");
                        return false; // Prevent form submission
                      }

                      // Add any other validation logic here if needed.

                      return true; // Allow form submission if everything is valid.
                    }
                    </script>
                    <script>
                      document.getElementById('cancelInventoryButton').addEventListener('click', function () {
                        window.location.href = '/upload_exercise';
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </section><!-- End Portfolio Section -->
      </div>
    </section>

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>