<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Silent Math Genius</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/logo.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/chatbox.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{{url_for('mainpage')}}">Silent Math Genius</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_for('mainpage')}}">Laman Utama</a></li>
          <li><a href="{{url_for('stdmaterial')}}">Bahan Pembelajaran</a></li>
          <li class="active"><a href="{{url_for('chatbox')}}">Chatbox</a></li>
          <li><a href="{{url_for('profile')}}">Profil</a></li>
          <li><a href="{{url_for('about_us')}}">Mengenai Kita</a></li>
          <li><a href="{{url_for('logout')}}">Log Keluar</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="url_for('mainpage')"><i class="bi bi-arrow-left"></i></a></li>
          </ol>
          <ol>
            <li><a href="{{url_for('mainpage')}}">Laman Utama</a></li>
            <li>Chat Box</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->

   
      <div class="container">

        <!-- ======= Portfolio Section ======= -->
        <section id="chat" class="chat">


          <div class="inner-page">

              <div id="room-container">
                <div class="col">
                  <div class="msg-room">
                    <div id="msgs-container">
                      <ul id="messages">
                      {% for message in messages %}
                        <li class="message-item {% if message[0] == user %} self-message-item{% else %}peer-message-item{% endif %}">
                          <p>{{ message[1] }}</p>
                          <small class="{% if message[0] == user %}muted-text{% else %}muted-text-white{% endif %}">
                            {{ message[2] }}
                          </small>
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                    <div id="message-box">
                      <input type="text" placeholder="Enter your message" id="message-input" name="message" />
                      <button type="submit" id="send-btn" onclick="sendMessage()">Send</button>
                    </div>
                  </div>

                </div>
              </div>


          </div>
        </section><!-- End Portfolio Section -->

      </div>

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>



  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript">
    var socketio = io();

    socketio.on("message", function (message) {
      console.log("Received message:", message);
      createChatItem(message.message, message.sender);
    });

    function createChatItem(message, sender) {
      var messages = document.getElementById("messages");

      if (sender === "") {
        content = `
          <p class="member-activity">${message}</p>
        `;
      } else {
        var senderIsUser = "{{user}}" === sender;
        var content = `
          <li class="message-item ${
            senderIsUser ? "self-message-item" : "peer-message-item"
          }">
              <p>${message}</p>
              <small class="${
                senderIsUser ? "muted-text" : "muted-text-white"
              }">${new Date().toLocaleString()}</small>
          </li>
      `;
      }

      messages.innerHTML += content;
    }

    function sendMessage() {
      var msgInput = document.getElementById("message-input");
      if (msgInput.value === "") return;

      var msg = msgInput.value;
      console.log("Received message:", msg);
      socketio.emit("message", { message: msg });
      createChatItem(msg, "{{ user }}");
      msgInput.value = "";
    }
  </script>
  {% for message in messages %}
  <script type="text/javascript">
    createChatItem("{{message.message}}", "{{message.sender}}");
  </script>
  {% endfor %}
</body>

</html>